body {
  font-family: Arial, sans-serif;
}

.timers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.timer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin: 5px;
}

.time-display {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
